$black: #333333;
$grey99: #999999;
$greyDD: #dddddd;

@font-face {
  font-family: HelveticaNeue;
  src: url(./HelveticaNeue.ttf);
  font-weight: 400;
}

@mixin title {
  margin: 0 0 .5em 0;
  font-size: 1.1em;
  text-decoration: underline;
}

body {
  color: $black;
  font-family: HelveticaNeue;
  font-size: 1.1em;
}

h1 {
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;

  & + em {
    font-size: .8em;
  }
}

.container {
  margin: 0 auto;
  padding: 6em 4em;
}

.header {
  display: flex;
  width: 100%;
  margin: 2em 0 1em 0;
}

.profile {
  flex: 1;

  h2 {
    @include title()
  }
}

.client {
  padding-top: 2em;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  h3 {
    @include title()
  }
}

.infos {
  font-size: .8em;
  margin: 1em 0;
}

.conditions {
  font-size: .8em;
  margin: 1em 0;
}

.items {
  border-collapse: collapse;
  margin: 3em 0 4em 0;
  width: 100%;
}

.items-head th {
  text-align: right;
  border-bottom: 1px solid $grey99;
  padding: .25em .75em;

  &:first-of-type {
    text-align: left;
  }
}

.items-body {
  tr:not(:last-of-type) td {
    border-bottom: 1px solid $greyDD;
  }

  td {
    text-align: right;
    padding: .25em .75em;

    &:first-of-type {
      text-align: left;
    }
  }
}

.items-foot {
  tr:nth-of-type(1) td {
    border-top: 4px double $greyDD;
    padding-top: .25em;
  }

  tr:nth-of-type(2) td {
    padding-bottom: .5em;
  }

  tr:nth-of-type(3) td {
    font-weight: bold;
    font-style: italic;
  }

  td {
    padding: 0 .75em;
    text-align: right;

    &:first-of-type {
      text-align: left;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 0 0;

  > *:nth-of-type(2) {
    flex: 1;
  }
}

.bank {
  display: flex;
  font-size: .7em;
  margin: 2em 0;

  table {
    border-collapse: collapse;
  }

  tr:first-of-type td {
    text-align: center;
  }

  td {
    border: 1px solid $grey99;
    padding: .25em .5em;
  }
}

.contact {
  color: $grey99;
  font-size: .7em;
  margin: 2em 0;
  text-align: center;
}
