@import '~antd/dist/antd.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ant-notification-success {
  background: #52c41a;
}

.ant-notification-error {
  background: #ff4d4f;
}

.ant-notification-notice-message,
.ant-notification-notice-close,
.ant-notification-notice-close:hover,
.anticon.ant-notification-notice-icon {
  color: #ffffff;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 4px 12px;
  cursor: pointer;
  height: 40px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
